body {
  margin: 0;
  font-family: Helvetica,;
}

body * { 
  box-sizing: border-box;
}

.main-cadastro{
  width: 100vw;/*width=largura e 100vw=100% da tela*/
  height: 100vh;/*height=altura*/
  background: #201b2c;
  display: flex; /*faz com que as coisas fiquem lado a lado*/
  justify-content: center; /*centraliza  as coisas no eixo X*/
  align-items: center; /*centraliza as coisas no eixo Y*/
}

.right-cadastro{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.right-cadastro > h1{
  font-size: 3vw;
  color: #77ffc0;
}

.left-cadastro{
  width: 50vw; /*50%*/
  height: 100vh; /*100%*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-cadastro{
  width: 60%;/*60% da div*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;/*espaço entre a borda e o conteudo do site*/
  background: #2f2841;
  border-radius: 20px; /*para a borda*/
  box-shadow: 0px 10px 40px #00000056; /*sombra do card*/
}

.card-cadastro > h1 {
  color: #00ff88;
  font-weight: 800; /*peso da font*/
  margin:0;
}

.textfield{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px; /* primeiro valor esta ligado ao eixo Y, e o segundo ao eixo X*/
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #fff;
  font-size: 12pt; /*pt=unidade de medida para fontes*/
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.textfield > label{
  color: #fff;
  margin-bottom: 10px;/*margem para baixo*/
}

.textfield > input::placeholder{
  color: #cfc2c2;
}

.button-cadastro{
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;/*deixar as letras em caixa alta*/
  font-weight: 800;
  letter-spacing: 3px; /*espaçamento*/
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff1052;
}

@media only screen and (max-width:950px){
  .card-cadastro{
    width: 85%;
  }
}

@media only screen and (max-width:600px){
  .main-cadastro{
    flex-direction: column; /*para deixar as divs em colunas*/
  }

  .right-cadastro > h1{
    display: none; /*tirar o h1*/
  }

  .right-cadastro{
    width: 100%;
    height: auto;
  }
  
  .left-cadastro{
    width: 100%;
    height: auto;
  }
  
  .card-cadastro{
    width: 90%;
  }
}

.terms {
  width: 100%;
  display: flex;
  font-size: 15px;
  margin: 10px 15px;
}

.terms label {
  color: #fff;
}

.terms input {
  margin-right: 5px;
}

.terms a {
  color: #00ff88;
  text-decoration: none;
}
  
.login-link p {
  color: #fff;
  font-size: 15px;
}

.login-link a {
  color: #00ff88;
  text-decoration: none;
}