/* Estilo básico para o corpo da página */
body {
    font-family: Arial, sans-serif; /* Define a fonte da página */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
    background-color: #f0f0f0; /* Cor de fundo da página */
}

/* Estilo do cabeçalho */
header {

    background-color: #0f0d0d; /* Cor de fundo do cabeçalho */
    display: flex; /* Usando flexbox para organizar o conteúdo */
    justify-content: space-between; /* Espaço entre elementos */
    padding: 10px 20px; /* Espaçamento interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra abaixo do cabeçalho */
}

/* Estilo do logo */
.logo {
    font-size: 24px; /* Tamanho da fonte do logo */
    color: #ffffff; /* Cor do texto do logo */
    margin: 0; /* Remove margem padrão */
    font-weight: bold; /* Define a fonte como negrito */
}
/* Estilo da navegação */
nav ul {
    list-style-type: none; /* Remove marcadores da lista */
    padding: 0; /* Remove preenchimento padrão */
    display: flex; /* Usando flexbox para os links */
}

nav ul li {
    margin-left: 20px; /* Espaçamento entre os itens da lista */
}

nav a {
    text-decoration: none; /* Remove sublinhado dos links */
    color: #333; /* Cor do texto dos links */
}

/* Estilo da área principal */
main {
    display: flex; /* Usando flexbox para layout */
    margin: 20px; /* Margem ao redor da área principal */
}

/* Estilo da seção de posts */
.posts {
    flex: 3; /* Ocupar 3 partes do espaço disponível */
    background-color: #ffffff; /* Cor de fundo dos posts */
    padding: 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ao redor da seção */
}

/* Estilo de cada post */
.post {
    margin-bottom: 20px; /* Margem abaixo de cada post */
    padding: 15px; /* Espaçamento interno do post */
    border: 1px solid #ddd; /* Borda do post */
    border-radius: 5px; /* Bordas arredondadas do post */
}

/* Estilo do cabeçalho do post */
.post-header h2 {
    margin: 0; /* Remove margem padrão */
}

/* Estilo da barra lateral */
aside {
    width: 250px; /* Define a largura da barra lateral */
    background-color: #ddd; /* Cor de fundo da barra lateral */
    padding: 20px; /* Adiciona padding à barra lateral */
}

aside h2 {
    margin-top: 0; /* Remove a margem superior do título */
}

aside ul {
    list-style-type: none; /* Remove os marcadores padrão */
    padding: 0; /* Remove o padding padrão */
}

aside ul li {
    margin: 10px 0; /* Margem entre os itens da lista */
}

aside ul li a {
    text-decoration: none; /* Remove o sublinhado */
    color: #333; /* Cor do texto */
}
/* Estilo do rodapé */
footer {
    text-align: center; /* Centraliza o texto do rodapé */
    padding: 10px; /* Espaçamento interno */
    background-color: #ffffff; /* Cor de fundo do rodapé */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra acima do rodapé */
}
